.form-pwd {
    padding: 40px;
    max-width: 330px;
}


.form-pwd .form-floating:focus-within {
    z-index: 2;
}

.form-floating {
    margin: 15px;
}

.form-pwd input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.err {
    margin: 0;
    color: #c40b1b;
}