<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:style="http://www.w3.org/1999/xhtml"
      xmlns:display="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<script src="https://code.jquery.com/jquery-3.5.0.js"></script>

<div th:fragment="comment" class="card flex-column border-0 my-3 ms-4">
    <div>
        <h6 th:utext="#{comment.user(${comment.getAuthor().getUsername()}, ${comment.displayCreationDate()})}" class="card-subtitle mb-1 text-muted">
            Anonymous • 3 hours ago</h6>
    </div>

    <div class="card-body position-relative border-start py-1 ms-2">
        <div>
            <div th:unless="${comment.isDeleted()}" th:utext="${comment.getFormattedContent()}" class="card-text"></div>
            <i th:if="${comment.isDeleted()}">Comment deleted.</i>
        </div>

        <div th:unless="${comment.isDeleted()}">
            <div class="d-flex flex-column">
                <div class="d-flex flex-row">
                    <div class="d-flex flex-row me-2">
                        <button type="button" class="btn btn-outline-secondary border-0 px-1" style="color: #de4343" name="vote" data-vote="upvote" th:disabled="${comment.getAuthor().getUsername().equals(currentUser.getUsername())}"
                                th:onclick="'voteCommentAction('+${item.getPostId()}+', '+${comment.getCommentId()}+', '+${item.getScore()}+ ', ' + this + ')'">
                            <i class="fas fa-arrow-up"></i>
                        </button>

                        <div th:id="'commentScore'+${comment.getCommentId()}" class="d-flex flex-row justify-content-center mx-1">
                            <p th:if="${comment.getScore() != 0}" th:text="${comment.getScore()}" class="text-center d-flex align-items-center mb-0"></p>
                            <p th:unless="${comment.getScore() != 0}" class="text-center d-flex align-items-center mb-0">
                                Vote</p>
                        </div>

                        <button type="button" class="btn btn-outline-secondary border-0 px-1" style="color: #6c6ce6" name="vote" data-vote="downvote" th:disabled="${comment.getAuthor().getUsername().equals(currentUser.getUsername())}"
                                th:onclick="'voteCommentAction('+${item.getPostId()}+', '+${comment.getCommentId()}+', '+${item.getScore()}+ ', ' + this + ')'">
                            <i class="fas fa-arrow-down"></i>
                        </button>
                    </div>

                    <script th:inline="javascript" >
                    function voteCommentAction(id, commentId, score, self) {
                        if (!/*[[${currentUser.userIsAuthenticated()}]]*/) {
                            window.location = "./login"
                        } else {
                            $.ajax({
                                url: "/" + self.dataset.vote + "/" + id + "/" + commentId,
                                type: 'PUT',
                                async: true,
                                success: function(data) {
                                    console.log(data);
                                    document.getElementById("commentScore"+commentId).innerHTML = data;
                                }
                            })
                        }

                    }
                    </script>

                    <div class="me-2">
                        <button class="btn btn-outline-secondary border-0" th:disabled="${selectCommentId==comment.getCommentId()}"
                                th:onclick="'newSubCommentAction('+ ${item.getPostId()} + ', ' + ${comment.getCommentId()} + ')'">
                            <i class="far fa-comment-alt"></i>
                            <p class="card-link d-inline-block mb-0">Reply</p>
                        </button>
                        <script th:inline="javascript" >
                        function newSubCommentAction(id, commentId) {
                            if (!/*[[${currentUser.userIsAuthenticated()}]]*/) {
                                window.location = "./login"
                            } else {
                                $.ajax({
                                    url: "/subcomment/" + id + "/" + commentId,
                                    type: 'GET',
                                    async: true,
                                    success: function(data) {
<!--                                    $("#reply"+commentId).html(data);-->
                                        document.getElementById("reply"+commentId).innerHTML = data;
                                    }
                                })
                            }

                        }
                        </script>
                    </div>

                    <div>
                        <form th:if="${currentUser.getUsername() == comment.getAuthor().getUsername() || currentUser.hasAuthorities('ROLE_ADMIN')}"
                                th:action="@{/comment/delete/{postId}/{commentId}(postId=${item.getPostId}, commentId=${comment.getCommentId()})}" method="post">
                            <button class="btn btn-outline-secondary border-0" style="color: #de4343" name="delete" value="delete">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </form>
                    </div>
                </div>

                <div th:id="'reply'+${comment.getCommentId()}"></div>
            </div>
        </div>

        <button th:if="${comment.getChildren().size() != 0}" aria-expanded="false" data-toggle="collapse"
                th:onclick="'collapseAction(' + this + ', ' + ${comment.getCommentId()} + ')'" class="btn btn-outline-secondary border-0 px-1">
            <i class="fas fa-chevron-down"></i>
        </button>

        <div class="collapse" th:id="'moreComments'+${comment.getCommentId()}">
            <div th:each="comment : ${comment.getChildren()}">
                <div th:id="'commentChildren'+${comment.getCommentId()}" th:insert="comments::comment"></div>
            </div>
        </div>
        <script th:inline="javascript">
            function collapseAction(self, commentId) {
                $("#moreComments"+commentId).collapse('toggle');
            }
        </script>

    </div>
</div>

</body>
</html>