<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Reddit: new Comment</title>
</head>
<body>

<script src="https://code.jquery.com/jquery-3.5.0.js"></script>

<div th:fragment="forceLogin">
  <div th:unless="${currentUser.userIsAuthenticated()}" class="card border flex-row p-2">
    <div class="d-flex align-items-center">Login or Sign up to leave a comment.</div>
    <div th:insert="loginButtons.html" class="ms-3 d-flex flex-columns justify-content-start"></div>
  </div>
</div>

<div th:fragment="commentForm" class="m-3">
  <form th:object="${comment}" th:action="@{/post/{postId}/newcomment(postId=${item.getPostId()})}" th:if="${currentUser.userIsAuthenticated()}" method="post">
    <div class="form-group">
      <label th:utext="#{commentBox(${currentUser.getUsername()})}" for="content"></label>
      <textarea th:field="*{content}" type="text" id="content" name="content" class="form-control" rows="3" placeholder="What are your thoughts ? (Markdown supported)"/>
    </div>
    <p class="alert-danger" th:text="${emptyComment}"></p>
    <div>
      <!--Disabled si c'est la textarea est empty-->
      <button type="submit" class="btn btn-outline-secondary border-0 mt-2">Comment</button>
    </div>
  </form>

  <div th:insert="commentForm::forceLogin"></div>


</div>

<div th:fragment="subCommentForm" class="m-3">
  <form th:action="@{/subcomment/{postId}/{commentId}(postId=${item.getPostId()}, commentId=${selectCommentId})}" method="post" th:object="${newComment}" th:if="${currentUser.userIsAuthenticated()}" th:id="'subCommentForm'+${selectCommentId}">
    <div class="form-group">
      <label th:utext="#{commentBox(${currentUser.getUsername()})}" for="subcontent"></label>
      <textarea th:field="*{content}" type="text" id="subcontent" name="subcontent" class="form-control" rows="3" placeholder="What are your thoughts ? (Markdown supported)"/>
    </div>
    <div>
      <!--Disabled si c'est la textarea est empty-->
      <button type="submit" class="btn btn-outline-secondary border-0 mt-2">Comment</button>
    </div>
  </form>

  <div th:insert="commentForm::forceLogin"></div>
</div>

</body>
</html>