<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:fragment="posts">
    <div th:each="item : ${posts}" class="col-md my-2">
        <div th:insert="postTemplate::postTemplate"></div>
    </div>

    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center" id="pageNavigation">
            <li th:if="${pageNum != 0}" class="page-item" id="previous">
                <a class="page-link" th:href="'/home/'+ ${pageNum - 1}"><</a>
            </li>

            <li th:if="${pageNum < maxPage}" class="page-item" id="next">
                <a class="page-link" th:href="'/home/' + ${pageNum + 1}">></a>
            </li>
        </ul>
        <script th:inline="javascript" >
        /*<![CDATA[*/
        $(document).ready(function() {
            for (let i = 0; i < /*[[${maxPage}]]*/; i++) {
                const action = "/home/" + i;

                if (i == /*[[${maxPage - 1}]]*/) {
                    $('#next').after('<li class="page-item"><a class="page-link" href="'+action+'">>></a></li>');
                }

                if (i == 0) {
                    $('#previous').before('<li class="page-item"><a class="page-link" href="'+action+'"><<</a></li>');
                }

                if ((i > (/*[[${pageNum} - 3]]*/) && i < (/*[[${pageNum} + 3]]*/))) {
                    if (i == /*[[${pageNum}]]*/) {
                        $('#next').before('<li class="page-item active"><a class="page-link">' + i + '</a></li>');
                    } else {
                        $('#next').before('<li class="page-item"><a class="page-link " href="'+action+'">' + i + '</a></li>');
                    }
                }
            }
        });
        /*]]>*/
        </script>
    </nav>
</div>

</body>
</html>