<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reddit: Profile</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>

    <link th:href="@{/css/headers.css}" rel="stylesheet">

</head>

<body>
    <div class="p-3 mb-3 border-bottom">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li>
                        <a th:href="@{/home}">
                            <img th:src="@{/img/Reddit_logo_new.svg}" alt="" height="37">
                        </a>
                    </li>
                </ul>

                <div class="dropdown text-end" th:unless="${!currentUser.userIsAuthenticated()}">
                    <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle align-middle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="far fa-user-circle fa-lg"></i>
                        <p class="card-link fw-bold d-inline-block mb-0" th:utext="#{userName(${currentUser.getUsername()})}"></p>
                    </a>
                    <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                        <li>
                            <a class="dropdown-item" th:href="@{/user/{currentUser}(currentUser=${currentUser.getUsername()})}">My profile</a>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <a th:href="@{/logout}" class="dropdown-item">Sign out</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <header class="py-3 mb-4">
        <div class="container-fluid px-0">
            <nav>
                <ul class="nav nav-tabs" id="nav-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="nav-posts-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-posts" type="button" role="tab" aria-controls="nav-posts"
                                aria-selected="false">
                            Posts
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="nav-comments-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-comments" type="button" role="tab" aria-controls="nav-comments"
                                aria-selected="false">
                            Comments
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="nav-settings-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-settings" type="button" role="tab" aria-controls="nav-settings"
                                aria-selected="false">
                            User Settings
                        </button>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="nav-posts" role="tabpanel" aria-labelledby="nav-posts-tab">
            <div th:insert="userPosts::userPosts"></div>
        </div>
        <div class="tab-pane fade" id="nav-comments" role="tabpanel" aria-labelledby="nav-comments-tab">
            <div th:insert="userComments::userComments"></div>
        </div>
        <div class="tab-pane fade" id="nav-settings" role="tabpanel" aria-labelledby="nav-settings-tab">
            <form th:action="@{/user/{currentUser}/updatePassword(currentUser=${currentUser.getUsername()})}" method="get" class="h-100">
                <button class="btn btn-outline-primary border-0 align-middle h-100 ms-3">
                    <p class="card-link d-inline-block mb-0">Change password</p>
                </button>
            </form>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>


    <script th:inline="javascript">
        $(document).ready(
            $('.confirmation').on('click', function() {
                return confirm("This link takes you out of Reddit. Do you want to proceed ?")
            })
        )
    </script>
</body>
</html>