<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>NavigationBar</title>

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>

    <link th:href="@{/css/headers.css}" rel="stylesheet">
</head>
<body>

<div th:fragment="navbar">
    <header class="p-3 mb-3 border-bottom">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li class="me-2">
                        <a th:href="@{/home}">
                            <img th:src="@{/img/Reddit_logo_new.svg}" alt="" height="37">
                        </a>
                    </li>
                    <li class="me-2">
                        <form th:unless="${!currentUser.userIsAuthenticated()}" th:action="@{/post/new}" method="get" class="h-100">
                            <button class="btn btn-outline-secondary border-0 align-middle h-100">
                                <i class="fas fa-comment-dots"></i>
                                <p class="card-link d-inline-block mb-0">Create Post</p>
                            </button>
                        </form>
                    </li>
                    <li class="me-2">
                        <form th:action="@{/home/best}" method="get" class="h-100">
                            <button class="btn btn-outline-secondary border-0 align-middle h-100">
                                <i class="fas fa-rocket"></i>
                                <p class="card-link d-inline-block mb-0">Best</p>
                            </button>
                        </form>
                    </li>
                    <li>
                        <form th:action="@{/home/new}" method="get" class="h-100">
                            <button class="btn btn-outline-secondary border-0 align-middle h-100">
                                <i class="fas fa-fire-alt"></i>
                                <p class="card-link d-inline-block mb-0">New</p>
                            </button>
                        </form>
                    </li>
                </ul>

                <div th:insert="loginButtons.html" class="col-md-3 d-flex flex-columns justify-content-end" th:unless="${currentUser.userIsAuthenticated()}"></div>

                <div class="dropdown text-end" th:unless="${!currentUser.userIsAuthenticated()}">
                    <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle align-middle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="far fa-user-circle fa-lg"></i>
                        <p class="card-link fw-bold d-inline-block mb-0" th:utext="#{userName(${currentUser.getUsername()})}"></p>
                    </a>
                    <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                        <li>
                            <a class="dropdown-item" th:href="@{/user/{currentUser}(currentUser=${currentUser.getUsername()})}">My profile</a>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <a th:href="@{/logout}" class="dropdown-item">Sign out</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
</div>

</body>
</html>