<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reddit: New Post</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>
<body>
    <div>
        <a th:href="@{/home}">
            <img class="mb-4" th:src="@{/img/Reddit_logo_new.svg}" alt="" height="57">
        </a>
    </div>

    <div th:fragment="postForm" class="m-3">
        <form th:object="${post}" th:action="@{/post/new}" method="post">
            <div class="form-group">
                <label for="title"></label>
                <textarea th:field="*{title}" type="text" id="title" name="title" class="form-control" rows="3" placeholder="Title"/>
                <p class="alert-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>
            </div>
            <div class="form-group">
                <label for="content"></label>
                <textarea th:field="*{content}" type="text" id="content" name="content" class="form-control" rows="3" placeholder="What do you want to say ? (Markdown supported)" maxlength="255"/>
                <p class="alert-danger" th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></p>
            </div>
            <div>
                <!--Disabled si c'est la textarea est empty-->
                <button type="submit" class="btn btn-outline-secondary border-0 mt-3">Post</button>
            </div>
        </form>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

</body>
</html>