<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:fragment="postTemplate">
    <div class="card flex-row">
        <div class="card-header border-0">
            <button type="button" class="btn btn-outline-secondary border-0" style="color: #de4343" name="vote" data-vote="upvote" th:disabled="${item.getAuthor().getUsername().equals(currentUser.getUsername())}"
                    th:onclick="'voteAction('+${item.getPostId()}+', '+${item.getScore()}+ ', ' + this + ')'">
                <i class="fas fa-arrow-up"></i>
            </button>

            <div th:id="'count'+${item.getPostId()}" class="my-2">
                <p th:if="${item.getScore() != 0}" th:text="${item.getScore()}" class="text-center align-middle mb-0"></p>
                <p th:unless="${item.getScore() != 0}" class="text-center align-middle mb-0">Vote</p>
            </div>

            <button type="button" class="btn btn-outline-secondary border-0" style="color: #6c6ce6" name="vote" data-vote="downvote" th:disabled="${item.getAuthor().getUsername().equals(currentUser.getUsername())}"
                    th:onclick="'voteAction('+${item.getPostId()}+', '+${item.getScore()}+ ', ' + this + ')'">
                <i class="fas fa-arrow-down"></i>
            </button>

            <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
            <script th:inline="javascript" >
                function voteAction(id, score, self) {
                    if (!/*[[${currentUser.userIsAuthenticated()}]]*/) {
                        window.location = "./login"
                    } else {
                        $.ajax({
                            url: "/" + self.dataset.vote + "/" + id,
                            type: 'PUT',
                            async: true,
                            success: function (data) {
                                let elem = document.getElementById("count" + id);
                                elem.innerHTML = data;
                                elem.classList.add("my-1");
                            }
                        })
                    }
                }
            </script>
        </div>

        <div class="card-body position-relative">
            <div>
                <h6 th:utext="#{post.user(${item.getAuthor().getUsername()}, ${item.displayCreationDate()})}" class="card-subtitle mb-2 text-muted">
                    Posted by u/Anonymous • 3 hours ago</h6>
                <h3 th:text="${item.getTitle()}" class="card-title"></h3>
                <div th:unless="${postSelected}" th:text="${item.getContent()}" class="card-text"></div>
                <div th:if="${postSelected}" th:utext="${item.getFormattedContent()}" class="card-text"></div>

                <form th:action="@{/post/{path}(path=${item.getPostId()})}" method="get">
                    <button class="btn btn-outline-secondary border-0 stretched-link" th:disabled="${postSelected}">
                        <i class="far fa-comment-alt"></i>
                        <p th:utext="#{post.comments(${item.getNumberOfComments()})}" class="card-link d-inline-block mb-0"></p>
                    </button>
                </form>
            </div>
        </div>

        <div class="card-footer border-0">
            <form th:if="${currentUser.hasAuthorities('ROLE_ADMIN') || currentUser.getUsername() == item.getAuthor().getUsername()}" th:action="@{/post/delete/{path}(path=${item.getPostId()})}" method="post" >
                <button class="btn btn-outline-secondary border-0" style="color: #de4343" name="vote" value="upvote">
                    <i class="fas fa-trash-alt"></i>
                </button>
            </form>
        </div>
    </div>
</div>

</body>
</html>