<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="score">
    <p th:if="${score != 0}" th:text="${score}" class="text-center align-middle"
       style="margin-bottom: 0"></p>
    <p th:unless="${score != 0}" class="text-center align-middle" style="margin-bottom: 0">Vote</p>
</div>