<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.84.0">
    <title>Reddit: Sign Up</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>

    <link th:href="@{/css/signin.css}" rel="stylesheet">
</head>

<body class="text-center">

    <main class="form-signin">
        <form th:object="${user}" th:action="@{/sign}" method="post">
            <a th:href="@{/home}">
                <img class="mb-4" th:src="@{/img/Reddit_logo_new.svg}" alt="" height="57">
            </a>
            <h1 class="h3 mb-3 fw-normal">Please sign up</h1>

            <div class="form-floating">
                <input th:field="*{username}" type="text" class="form-control" id="username" placeholder="Username" name="username">
                <p class="alert-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">username Error</p>
                <label for="username">Username</label>
            </div>
            <div class="form-floating">
                <input th:field="*{password}" type="password" class="form-control" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" id="password" placeholder="Password" name="password">
                <p class="alert-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">password Error</p>
                <p class="alert-danger" th:text="${usernameErr}"></p>
                <label for="password">Password</label>
            </div>

            <button class="w-100 btn btn-lg btn-primary" type="submit">Sign Up</button>
        </form>
    </main>

</body>


</html>