<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reddit: update password</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>

    <link th:href="@{/css/updatePassword.css}" rel="stylesheet">

</head>
<body>
    <div class="p-3 mb-3 border-bottom">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li>
                        <a th:href="@{/home}">
                            <img th:src="@{/img/Reddit_logo_new.svg}" alt="" height="37">
                        </a>
                    </li>
                </ul>

                <div class="dropdown text-end" th:unless="${!currentUser.userIsAuthenticated()}">
                    <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle align-middle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="far fa-user-circle fa-lg"></i>
                        <p class="card-link fw-bold d-inline-block mb-0" th:utext="#{userName(${currentUser.getUsername()})}"></p>
                    </a>
                    <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                        <li>
                            <a class="dropdown-item" th:href="@{/user/{currentUser}(currentUser=${currentUser.getUsername()})}">My profile</a>
                        </li>
                        <li>
                            <a th:href="@{/user/{username}/posts(username=${currentUser.getUsername()})}" class="dropdown-item">Posts</a>
                        </li>
                        <li>
                            <a th:href="@{/user/{username}/comments(username=${currentUser.getUsername()})}" class="dropdown-item">Comments</a>
                        </li>
                        <li>
                            <a class="dropdown-item" th:href="@{/settings/{username}(username=${currentUser.getUsername()})}">User Settings</a>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <a th:href="@{/logout}" class="dropdown-item">Sign out</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <main class="form-pwd">
        <form th:action="@{/user/{username}/updatePassword(username=${currentUser.getUsername()})}" th:object="${passwordManager}" method="post">
            <div class="form-floating">

                <input required class="form-control" type="password" id="oldPassword" placeholder="current password" name="oldPassword">
                <label for="oldPassword">Old Password</label>
                <p class="err" th:text="${oldPassword}"></p>
            </div>

            <div class="form-floating">
                <input class="form-control" type="password" id="newP" placeholder="new password" name="newP" th:field="*{newP}"
                       pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$">
                <label for="newP">New Password</label>
                <p class="err" th:if="${#fields.hasErrors('newP')}" th:errors="*{newP}" ></p>
            </div>

            <div class="form-floating">

                <input class="form-control" type="password" id="confirmP" placeholder="confirm new password" name="confirmP" th:field="*{confirmP}"
                       pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$">
                <label for="confirmP">Confirm Password</label>
                <p class="err" th:text="${confP}"></p>
            </div>
            <div><button class="w-100 btn btn-lg btn-primary" type="submit">Save</button></div>
        </form>
    </main>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>


</body>
</html>