<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reddit: Profile</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>

<body>

<div th:fragment="userComments" th:each="item : ${userComments}" class="col-md my-3 mx-4">

    <div class="card border-bottom border-top p-2">
        <p th:utext="#{userCommentOnPost(${item.getAuthor().getUsername()}, ${item.getOrigin().getTitle()}, ${item.getOrigin().getAuthor().getUsername()})}"></p>

        <div>
            <h6 th:utext="#{userCommentWithScore(${item.getAuthor().getUsername()}, ${item.getScore()}, ${item.displayCreationDate()})}" class="card-subtitle mb-1 text-muted">
                Anonymous • 3 hours ago</h6>
        </div>

        <div class="card-body position-relative border-start py-1 ms-2">
            <div>
                <p th:unless="${item.isDeleted()}" th:utext="${item.getFormattedContent()}" class="card-text"></p>
                <i th:if="${item.isDeleted()}">Comment deleted.</i>
            </div>
        </div>
    </div>

</div>

</body>
</html>