<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reddit: Profile</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>

<body>

<div th:fragment="userPosts" th:each="item : ${userPosts}" class="col-md my-3 mx-4">
    <div class="card flex-row">
        <div class="card-body position-relative">
            <div>
                <h6 th:utext="#{post.user(${item.getAuthor().getUsername()}, ${item.displayCreationDate()})}" class="card-subtitle mb-2 text-muted">
                    Posted by u/Anonymous • 3 hours ago</h6>
                <h3 th:text="${item.getTitle()}" class="card-title"></h3>
                <p th:text="${item.getContent()}" class="card-text"></p>

                <form th:action="@{/post/{path}(path=${item.getPostId()})}" method="get">
                    <button class="btn btn-outline-secondary border-0 stretched-link" th:disabled="${postSelected}">
                        <i class="far fa-comment-alt"></i>
                        <p th:utext="#{post.comments(${item.getNumberOfComments()})}" class="card-link d-inline-block mb-0"></p>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>